[submodule "Source/NomadFramework"]
	path = Source/NomadFramework
	url = https://github.com/SIGAAMDAD/NomadFramework.git
[submodule "TheNomadFMOD"]
	path = TheNomadFMOD
	url = https://github.com/SIGAAMDAD/TheNomadFMOD.git
